*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
  justify-content: center;
}

.main-page {
  height: fit-content;
  width: fit-content;
}

.hoers-container {
  cursor: pointer;
  width: 20rem;
}

.rotate {
  animation: spin 5s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.small-logo {
  filter: contrast(0%);
  transition: all 0.5s ease-in-out;
}

.small-logo:hover {
  transform: scale(1.1);
  filter: contrast(100%);
}

.now-loading {
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ani-1 {
  animation: fadeIn 2s ease-in;
}

.ani-2 {
  animation: fadeIn 2s ease-in;
}

.ani-3 {
  animation: fadeIn 2s ease-in;
}

.ani-4 {
  animation: fadeIn 2s ease-in;
}

.ani-5 {
  animation: fadeIn 2s ease-in;
}
